<!DOCTYPE html>
<html ng-app="workSheet">
<head>
	<link rel="import" href="http://174.49.32.201/TutorSite/html_head.html">
</head>

<body ng-controller="Controller">
	<font color=black>

<script>
console.log("hello");
</script>
	<div>

	</div>
	</font>

	<div ng-controller="DoubleController">
		<ul ng-repeat="x in fractions">
			<li>{{x.numerator}} + {{x.denominator}} = <input ng-model="value" >{{ addition(x.id,value) }}<br></li>	
			{{result}}

		</ul>

	</div>


	<input id="clickMe" type="button" value="New Worksheet" ng-click="newestWorksheet()" />

	<br>
	<br>
	<div id='output'>
	This is default text
	</div>


</body>
</html>




